<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
	<servlet>
    	<servlet-name>CadasdrarContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.CadastrarContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>CadasdrarContaServlet</servlet-name>
    	<url-pattern>/servlet/CadastrarContaServlet</url-pattern>
  	</servlet-mapping>
	<servlet>
    	<servlet-name>ExcluirContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.ExcluirContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>ExcluirContaServlet</servlet-name>
    	<url-pattern>/servlet/ExcluirContaServlet</url-pattern>
  	</servlet-mapping>
	<servlet>
    	<servlet-name>CreditarDebitarContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.CreditarDebitarContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>CreditarDebitarContaServlet</servlet-name>
    	<url-pattern>/servlet/CreditarDebitarContaServlet</url-pattern>
  	</servlet-mapping>
	<servlet>
    	<servlet-name>TransferirContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.TransferirContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>TransferirContaServlet</servlet-name>
    	<url-pattern>/servlet/TransferirContaServlet</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>RenderJurosContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.RenderJurosContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>RenderJurosContaServlet</servlet-name>
    	<url-pattern>/servlet/RenderJurosContaServlet</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>RenderBonusContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.RenderBonusContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>RenderBonusContaServlet</servlet-name>
    	<url-pattern>/servlet/RenderBonusContaServlet</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>ConsultarSaldoContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.ConsultarSaldoContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>ConsultarSaldoContaServlet</servlet-name>
    	<url-pattern>/servlet/ConsultarSaldoContaServlet</url-pattern>
  	</servlet-mapping>  	
  	<servlet>
    	<servlet-name>ConsultarBonusContaServlet</servlet-name>
    	<servlet-class>br.com.ufc.banco.control.ConsultarBonusContaServlet</servlet-class>
  	</servlet>
	<servlet-mapping>
    	<servlet-name>ConsultarBonusContaServlet</servlet-name>
    	<url-pattern>/servlet/ConsultarBonusContaServlet</url-pattern>
  	</servlet-mapping>
  	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>